body{
  display: flex;
  flex-wrap: wrap;
}

.wrapperButton {
  width: 100%;
}

#button {
  background-color: cadetblue;
  color: lavender;
  outline: none;
  width: 150px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

#wrapperUser, #wrapperPost, #wrapperComment {
  width: 250px;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 10px;
}

#wrapperPost{
  width: 550px;
}

.error{
  color: red;
  padding: 10px;
}

.buttonUser, .buttonPost{
  border: 1px solid beige;
  padding: 10px;
}

#message{
  display: none;
  width: 270px;
  height: 70px;
}


