body{
  display: flex;
  flex-wrap: wrap;
}

.wrapperButton {
  width: 100%;
}

#button {
  background-color: cadetblue;
  color: lavender;
  outline: none;
  width: 150px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

#wrapperUser{
  width: 250px;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 10px;
}

#wrapperPost {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 550px;
  margin-top: 25px;
  margin-right: 25px;
}

#wrapperComment{
  width: 350px;
  margin-top: 25px;
  margin-right: 25px;
}

.error{
  color: red;
  padding: 10px;
}

.buttonUser, .buttonPost, .comment{
  display: flex;
  justify-content: space-between;
  border: 1px solid beige;
  padding: 10px;
}

#message{
  display: none;
  position: absolute;
  right: 150px;
  width: 270px;
  height: 70px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border: 1px solid cadetblue;
  border-radius: 50%;
  background-color: cadetblue;
  font-size: 15px;
}

